html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ProductContainer {
    background-color: #fff;
    padding: 20px;
    border: solid 1px #eee;
}

.SingleProduct {
    width: 90vw;
    max-width: 1170px;
    margin: 3rem auto;
    background-color: #fff;
    padding: 30px;
    border: solid 1px #eee;
}

.SingleProduct p {
    line-height: 1.8rem;
}

.addToCartBtn {
    color: #fff;
    background-color: red;
    opacity: 1;
    padding: 8px 20px;
    border: none;
    border-color: red;
    font-weight: 700;
}

.addToCartBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 768px) {
    .ProductComponent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .SingleProduct {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .ProductComponent {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

.ProductComponent div {
    height: 15rem;
}